# Personal environment related files
.claude/settings.local.json
.python-version
.vagrant/
.venv/

# File generated in some templates
vagrant-*-setup.sh

# Overrides config files for Vagrantfiles
overrides.yml
CLAUDE.md.overrides
